page-dashboard {
 margin: 0px;
 padding: 0px;
}

.today {
    padding-bottom: 5px;
}

.date {
    margin-top: -10px;
}

.higlighted {
    font-weight: bold;
    font-size: 18px;
    margin-top: -8px;
}

.divider {
    border-bottom: 1px solid color($colors,secondary)
}

.current_time {
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 0px;
}